* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

body {
  background-color: white;
}

.hidden {
  display: none;
}

#startSide {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

#wordSpotlight p {
  display: inline-block;
  margin-right: 5px; /* Legg til litt mellomrom mellom elementene hvis ønskelig */
}

#spillHangMan {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
  border-color: #309bde;
  border-width: 0 0 0 5px;
  font-size: 20px;
  position: relative;
  width: 30vw;
  padding: 35px 0;
  text-align: center;
  margin: 40px 10px;
  font-weight: bold;
  background: transparent;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sillHangMan span {
  background: #309bde;
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}

#spillHangMan:hover span {
  width: 100%;
}

#main {
  line-height: 2;
  width: 50vw;
  margin: 10vh auto;
  background-color: #309bde;
  height: 80vh;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#livOversikt {
  padding: 25px;
}

#tastatur {
  width: 40vw;
  margin: 0 auto;
}

#tastatur button {
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  width: 1.5vw;
  height: 1.5vw;
  margin: 3px;
}

#respons {
  padding: 20px;
  font-size: 3vh;
}

#nyttSpillKnapp {
  margin-top: 3vh;
  background-color: aliceblue;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 3vw;
  width: 15vw;
}

#ordPlass {
  font-size: 25px;
  font-weight: bold;
}

#btnHint {
  margin-top: 3vh;
  background-color: aliceblue;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 3vw;
  width: 5vw;
}

.popup-menu {
  display: none;
  position: absolute;
  background-color: aliceblue;
  border: none;
  border-radius: 20px;
  padding: 10px;
  /* Sentrer pop-up menyen horisontalt og vertikalt */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 5vw;
  padding-top: 20px;

}

#bilde {
  width: 10vw;
}



