* {
  margin: 0;
}
body {
  background-color: #cdd7d6;
}
#overskrift {
  background-color: #102542;
  color: aliceblue;
  margin: 0px;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  width: 100%;
  z-index: 9;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
#side {
  position: absolute;
  margin: 140px 10vw;
  line-height: 2;
  font-size: 18px;
}
#eks1 {
  margin: 40px;
  background-color: #f87060;
  padding: 20px;
  line-height: 3;
  border-radius: 20px;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: #102542;
  transition: 1s ease;
  width: 700px;
}
#eks1:hover {
  padding: 40px;
  font-size: 20px;
}
#eks1 p:first-child {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
#rekeksp p:first-child {
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
#rekeksp p:nth-child(2) {
  text-decoration: underline;
  margin-top: 15px;
}
#rekeksp p:nth-child(5) {
  text-decoration: underline;
  margin-top: 15px;
}
#geogebra {
  background-color: #f87060;
  padding: 40px;
  margin: 40px;
  border-width: 0 0 0 5px;
  border-color: #102542;
  border-radius: 20px;
  width: 820px;
}
#geogebra > h3 {
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
}
#arigeo p:first-child {
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
#arigeo p:nth-child(2) {
  text-decoration: underline;
  margin-top: 15px;
}
#arigeo p:nth-child(6) {
  text-decoration: underline;
  margin-top: 15px;
}
#slutt {
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 40px;
  background-color: #f87060;
  padding: 40px;
  border-width: 0 0 0 5px;
  border-color: #102542;
  border-radius: 20px;
  width: 820px;
}
#slutt > p {
  margin-bottom: 20px;
  text-decoration: underline;
}
#sist {
  background-color: #102542;
  color: aliceblue;
  padding: 20px;
  font-size: 20px;
  width: 100%;
  z-index: 9;
  font-family: "Poppins", sans-serif;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 400px;
  line-height: 4;
}
#nettsider,
ul,
li,
a {
  list-style: none;
  position: relative;
  color: aliceblue;
  text-decoration: none;
  text-decoration: underline;
  transition: 1s ease;
}
#nettsider a:hover {
  transform: scale(1.5);
  color: #f87060;
}
