section {
  width: 97vw;
  height: 97vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 2vw;
  display: grid;
  gap: 5px;
  grid-template-areas:
    "m m m m m"
    "e t t s s"
    "e tr tr s s"
    "e sy sy f f"
    "e sy sy fe fe";
}

div {
  background-color: bisque;
  border-radius: 20px;
}

.meny {
  grid-area: m;
}
.en {
  grid-area: e;
}
.to {
  grid-area: t;
}
.tre {
  grid-area: tr;
}
.fire {
  grid-area: f;
}
.fem {
  grid-area: fe;
}
.seks {
  grid-area: s;
}
.syv {
  grid-area: sy;
}

@media only screen and (max-width: 1000px) {
  body section {
    grid-template-areas:
    "m m m m m"
    "e e e e e"
    "t t t t t"
    "tr tr tr tr"
    "f f f f f";
  }
  .meny {
    grid-area: m;
  }

  .en {
    grid-area: e;
  }

  .to {
    grid-area: t;
  }

  .tre {
    grid-area: tr;
  }

  .fire {
    grid-area: f;
  }

  .fem {
    grid-area: fe;
  }

  .seks {
    grid-area: s;
  }

  .syv {
    grid-area: sy;
  }
  div {
    color: blue;
  }
}
