* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.overskrift {
  width: 100vw;
  background-color: #186F65;
  color: aliceblue;
  height: 15vh;
  padding-top: 5vh;
  padding-left: 5vh;
}
section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100vw;
  height: 70vh;
}
.meny {
  grid-column-start: 1;
  grid-column-end: 3;
}
.innhold {
  grid-column-start: 3;
  grid-column-end: 10;
}
.side {
  grid-column-start: 10;
  grid-column-end: 13;
}
.nede p {
  background-color: #186F65;
  color: aliceblue;
  text-align: center;
  height: 15vh;
  padding-top: 5vh;
}
button {
  background-color: #B2533E;
  width: 15vw;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5vh;
  margin-left: 1vw;
}
.meny h3 {
  margin-top: 5vh;
  margin-left: 1vw;
}
.innhold {
  padding-top: 5vh;
  padding-left: 1vw;
  line-height: 2;
}
.side div {
  width: 20vw;
  background-color: #B2533E;
  margin-left: 2vw;
  margin-top: 5vh;
  height: 60vh;
}
.side div h3 {
  color: aliceblue;
  margin-top: 5vh;
  text-align: center;
  font-size: 25px;
}
.side div p {
  color: aliceblue;
  text-align: center;
  margin-top: 2vh;
}
.side div h3:first-child {
  padding-top: 5vh;
}
@media only screen and (max-width: 1000px) {
  .meny {
    grid-column-start: 1;
    grid-column-end: 13;
    justify-content: space-between;
    text-align: center;
  }
  .meny button {
    width: 21vw;
  }
  .innhold {
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .innhold h1 {
    font-size: 20px;
  }
  .innhold p {
    font-size: 15px;
  }
  .side {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .side div {
    width: 90vw;
    height: 200px;
  }
  section {
    height: 600px;
  }
  .side div h3 {
    font-size: 20px;
    margin-top: 0.1vh;
  }
  .side div p {
    font-size: 15px;
  }
  .side div h3:first-child {
    padding-top: 1vh;
  }
  button {
    padding: 5px 10px;
  }
}
